<form action="/categoriaCreate" method="post">
  Nome:
  <input type="text" name="nome" />
  <br /><br />
  Descricao:
  <input type="text" name="descricao" />
  <br /><br />
  <input type="submit" value="Cadastrar" />
</form>